{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the Yale CT ILN Followup Model {% endblock %}</h1>
        <div class='intro'>
          <p>Using Yale-New Haven Health data, we trained a transformer-based model (RoBERTa-large) to predict whether or not a patient in the ED will get a followup from an incidental lung nodule finding.</p>
          <p>Please enter the path of your data on the host machine below. (Remember, you must have included the folder containing the dataset as a volume in docker, like so:  <a href="https://docs.docker.com/engine/reference/commandline/run/#-mount-volume--v---read-only">Mount Docker Volume</a> </p>
        </div>
        <div>

        <form class="pure-form" method="post" action="{{url_for('tasks.process')}}">
            <fieldset class="pure-group">
              <label for="filepath">Path to CT Reports:</label>
              <input class="pure-input-1-2" type="text" id="filepath" name="filepath",
              placeholder="data/file.csv",
              value="{{ request.form['filepath'] }}",
              required="">
            </fieldset>
            <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
        </form>
        </div>
{% endblock %}